Package: com.kaneb.musicevents
Name: MusicEvents
Description: A simple event for the libactivator API!
Version: 0.0.3
Priority: optional
Section: Addons (Activator)
Architecture: iphoneos-arm
Depends: mobilesubstrate, libactivator
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
